body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

.menu {
    background: #000;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #222;
}

.menu .logo {
    font-size: 20px;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.menu a:hover {
    color: #00ffcc;
}

.contenido {
    padding: 25px;
}

#installBtn{
    padding:12px 25px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    background:#28a745;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
}

#installBtn:hover{
    background:#1e7e34;
}