{% extends 'base.html' %}

{% block titulo %}
MORTAL
{% endblock %}

{% block contenido %}

<div class="carrito-page">

    <!-- IZQUIERDA -->

    <div class="carrito-box">

        <div class="carrito-topo">

            <h1>Tu carrito</h1>

            <p>
                {{ productos|length }} productos agregados
            </p>

        </div>

        <div class="carrito-productos">

            {% for p in productos %}

            <div class="carrito-card">

                <img
                    class="carrito-img"
                    src="{{ p.imagen }}"
                >

                <div class="carrito-info">

                    <h2>{{ p.nombre }}</h2>

                    <p class="carrito-talle">
                        Talle: {{ p.talle }}
                    </p>

                    <p class="carrito-precio">
                        $ {{ p.precio }}
                    </p>

                </div>

                <a
                    class="btn-quitar"
                    href="/quitar/{{ loop.index0 }}"
                >
                    ✕
                </a>

            </div>

            {% endfor %}

        </div>

        <div class="carrito-footer">

            <div class="total-box">

                <span>Total</span>

                <h2>$ {{ total }}</h2>

            </div>

            <a class="btn-comprar" href="/">
                Finalizar compra
            </a>

        </div>

    </div>

    <!-- DERECHA -->

    <div class="recomendados">

        <h2>También te puede gustar</h2>

        <div class="recomendados-grid">

            {% for p in productos_tienda[:4] %}

            <a
                href="/producto/{{ p.id }}"
                class="recomendado-card"
            >

                <img src="{{ p.imagen }}">

                <h3>{{ p.nombre }}</h3>

                <p>$ {{ p.precio }}</p>

            </a>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}