{% extends 'base.html' %}

{% block titulo %}
MORTAL
{% endblock %}

{% block contenido %}

<div class="carrito-container">

    <div class="carrito-topo">

        <h1>Tu carrito</h1>

        <p>Productos agregados</p>

    </div>

    <div class="carrito-productos">

        {% for p in productos %}

        <div class="carrito-card">

            <div class="carrito-info">

                <h2>{{ p.nombre }}</h2>
                <p>
                    Talle: {{ p.talle }}
                </p>

                <p class="precio">
                    $ {{ p.precio }}
                </p>

            </div>

            <a class="btn-quitar" href="/quitar/{{ loop.index0 }}">
                Quitar
            </a>

        </div>

        {% endfor %}

    </div>

    <div class="carrito-footer">

        <h2 class="total">
            Total: $ {{ total }}
        </h2>

        <a class="btn-volver" href="/">
            Comprar
        </a>

    </div>

</div>

{% endblock %}