{% extends 'base.html' %}
{% block titulo %}
MORTAL
{% endblock %}
{% block contenido %}

<div class="topo">

    <h2>{{ titulo }}</h2>
    <p>Explorá la colección disponible</p>

    <div class="filtros">

        <a
            href="/catalogo"
            class="
            {% if filtro_activo == 'todo' %}
                activo
            {% endif %}
            "
        >
            Todo
        </a>

        <a
            href="/categoria/hombre"
            class="
            {% if filtro_activo == 'hombre' %}
                activo
            {% endif %}
            "
        >
            Hombre
        </a>

        <a
            href="/categoria/mujer"
            class="
            {% if filtro_activo == 'mujer' %}
                activo
            {% endif %}
            "
        >
            Mujer
        </a>

        <a
            href="/categoria/unisex"
            class="
            {% if filtro_activo == 'unisex' %}
                activo
            {% endif %}
            "
        >
            Unisex
        </a>

        <a
            href="/categoria/urban"
            class="
            {% if filtro_activo == 'urban' %}
                activo
            {% endif %}
            "
        >
            Urban
        </a>

        <a
            href="/categoria/verano"
            class="
            {% if filtro_activo == 'verano' %}
                activo
            {% endif %}
            "
        >
            Verano
        </a>

        <a
            href="/categoria/invierno"
            class="
            {% if filtro_activo == 'invierno' %}
                activo
            {% endif %}
            "
        >
            Invierno
        </a>

    </div>

</div>

<div class="productos">

{% for p in productos %}

<div class="card">

    <img src="{{ p.imagen }}">

    <div class="info">

        <h3>{{ p.nombre }}</h3>

        <p>{{ p.coleccion }}</p>

        <div class="precio">
            $ {{ p.precio }}
        </div>

        <div class="acciones">

            <a class="detalles" href="/producto/{{ p.id }}">
                Ver
            </a>

            <a class="carrito" href="/agregar/{{ p.id }}">
                Agregar
            </a>

        </div>

    </div>

</div>

{% endfor %}

</div>
{% endblock %}