{% extends 'base.html' %}
{% block titulo %}
MORTAL
{% endblock %}
{% block contenido %}

<div class="topo">

    <h2>{{ titulo }}</h2>
    <p>Explorá la colección disponible</p>

    <div class="filtros">
        <a href="/categoria/hombre">Hombre</a>
        <a href="/categoria/mujer">Mujer</a>
        <a href="/categoria/oversize">Oversize</a>
        <a href="/categoria/verano">Verano</a>
        <a href="/categoria/urbano">Urbano</a>
    </div>

</div>

<div class="productos">

{% for p in productos %}

<div class="card">

    <img src="{{ p.imagen }}">

    <div class="info">

        <h3>{{ p.nombre }}</h3>

        <p>{{ p.coleccion }}</p>

        <div class="precio">
            $ {{ p.precio }}
        </div>

        <div class="acciones">

            <a class="detalles" href="/detalle_producto">
                Ver
            </a>

            <a class="carrito" href="/agregar/{{ p.id }}">
                Agregar
            </a>

        </div>

    </div>

</div>

{% endfor %}

</div>
{% endblock %}