{% extends 'base.html' %}
{% block titulo %}
MORTAL
{% endblock %}
{% block contenido %}
<div class="producto">

    <!-- GALERIA -->

    <div class="galeria">

        <div class="principal">
            <img id="imagenPrincipal" src="{{ producto.imagen }}">
        </div>

        <div class="miniaturas">

            <img src="{{ producto.imagen }}" onclick="cambiarImagen(this.src)">

            {% for img in producto.imagenes_extra %}

                <img src="{{ img }}" onclick="cambiarImagen(this.src)">

            {% endfor %}

        </div>

    </div>

    <!-- INFO -->

    <div class="info">

        <div class="coleccion">
            {{ producto.coleccion }}
        </div>

        <h2>{{ producto.nombre }}</h2>

        <div class="precio">
            $ {{ producto.precio }}
        </div>

        <div class="descripcion">
            {{ producto.descripcion }}
        </div>

        <div class="talles">

            <button>S</button>
            <button>M</button>
            <button>L</button>
            <button>XL</button>

        </div>

        <a class="btn" href="/agregar/{{ producto.id }}">
            Agregar al carrito
        </a>

        <div class="extra">

            <p>• Envíos a todo el país</p>
            <p>• Cambios dentro de los 30 días</p>
            <p>• Calidad premium</p>

        </div>

    </div>

</div>

<script>

function cambiarImagen(src){
    document.getElementById("imagenPrincipal").src = src;
}

</script>

{% endblock %}