{% extends "base.html" %}

{% block title %}Dashboard - {{ empresa_nombre }}{% endblock %}

{% block content %}
<h2>Bienvenido a {{ empresa_nombre }}</h2>
<p><center>Hola, {{ usuario_nombre }}. Aquí verás tus módulos y estadísticas.</center></p>

<div class="modules">
    {% for modulo in modulos %}

        {% if modulo.codigo == "admin_modulos" %}
            <a href="{{ url_for('admin_empresas') }}" class="card">
        {% else %}
            <a href="/{{ modulo.codigo }}" class="card">
        {% endif %}

            <h3>{{ modulo.icono }} {{ modulo.nombre }}</h3>
            <p>{{ modulo.descripcion }}</p>
        </a>

    {% endfor %}
</div>
{% endblock %}