{% extends 'base.html' %}

{% block titulo %}
MORTAL
{% endblock %}

{% block contenido %}

<!-- HERO -->

<section
    class="hero"

    style="
    background-image:
    url('{{ hero.imagen }}');
    "
>

    <div class="hero-texto">

        <h1>

            {{ hero.titulo }}

        </h1>

        <p>

            {{ hero.subtitulo }}

        </p>

        <a
            href="#productos"
            class="btn-hero"
        >

            {{ hero.boton_texto }}

        </a>

    </div>

</section>

<!-- BENEFICIOS -->

<section class="beneficios">

    {% for b in beneficios %}

    <div class="beneficio">

        <h3>

            {{ b.icono }}
            {{ b.titulo }}

        </h3>

        <p>

            {{ b.descripcion }}

        </p>

    </div>

    {% endfor %}

</section>

<!-- TITULO -->

<section class="titulo-productos" id="productos">

    <h2>Productos destacados</h2>

    <p>
        Lo más vendido de nuestra colección.
    </p>

</section>

<!-- PRODUCTOS -->

<!-- PRODUCTOS DESTACADOS -->

<div class="productos">

{% for p in productos[:8] %}

<div class="card">

    <div class="imagen-container">

        {% if p.imagen %}
            <img src="{{ p.imagen }}">
        {% endif %}

        <span class="coleccion">
            {{ p.coleccion }}
        </span>

    </div>

    <div class="info">

        <h2 class="nombre-producto">
            {{ p.nombre }}
        </h2>

        <p class="genero">
            {{ p.genero }}
        </p>

        <div class="tallas">

            {% for t in p.tallas %}
                <span class="talla">
                    {{ t }}
                </span>
            {% endfor %}

        </div>

        <h3>$ {{ p.precio }}</h3>

        <form
            action="/agregar/{{ p.id }}"
            method="POST"
        >

            <select name="talle" required>

                <option value="">
                    Seleccionar talle
                </option>

                {% for t in p.tallas %}
                    <option value="{{ t }}">
                        {{ t }}
                    </option>
                {% endfor %}

            </select>

            <div class="acciones-producto">

                <button type="submit">
                    Agregar
                </button>

                <a
                    href="/producto/{{ p.id }}"
                    class="btn-detalle"
                >
                    Ver detalle
                </a>

            </div>

        </form>

    </div>
</div>

{% endfor %}

</div>

{% endblock %}