{% extends 'base.html' %}

{% block titulo %}
MORTAL
{% endblock %}

{% block contenido %}

<section class="login-admin">

    <div class="login-box">

        <h1>Panel Admin</h1>

        <p>
            Accedé para administrar productos y catálogo
        </p>

        <form
            method="POST"
            class="login-form"
        >

            <input
                type="text"
                name="usuario"
                placeholder="Usuario"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Contraseña"
                required
            >

            <button type="submit">
                Entrar
            </button>

        </form>

    </div>

</section>

{% endblock %}