{% extends 'base.html' %}

{% block title %}Panel Administrador{% endblock %}

{% block content %}
<h2>Panel Administrador</h2>

<ul>
    <li><a href="{{ url_for('admin.admin_usuarios') }}">Usuarios</a></li>
    <li><a href="{{ url_for('admin.admin_productos') }}">Productos</a></li>
    <li><a href="{{ url_for('admin.admin_proveedores') }}">Proveedores</a></li>
    <li><a href="{{ url_for('admin.admin_stock') }}">Stock</a></li>
    <li><a href="{{ url_for('admin.admin_ventas') }}">Ventas</a></li>
    <li><a href="{{ url_for('admin.admin_clientes') }}">Clientes</a></li>
    <li><a href="{{ url_for('admin.admin_promociones') }}">Promociones</a></li>
    <li><a href="{{ url_for('admin.admin_reportes') }}">Reportes</a></li>
    <li><a href="{{ url_for('admin.admin_configuracion') }}">Configuración</a></li>
</ul>
{% endblock %}
