<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toti - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#007bff">

</head>
<body>

    <div class="container">
        <h1>Bienvenido a Toti 🚀</h1>
        <p>Sistema para tiendas de ropa</p>

        <button id="installBtn" style="display:none;">📲 Instalar App</button>
        <a href="/ventas">Ir a Ventas</a>
        <a href="/clientes">Ir a Clientes</a>
    </div>
<script>
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/sw.js')
    .then(() => console.log("SW listo"))
    .catch(err => console.log("Error SW:", err));
}
</script>
</body>
</html>
