<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toti - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>

    <div class="container">
        <h1>Bienvenido a Toti 🚀</h1>
        <p>Sistema para tiendas de ropa</p>

        <button id="installBtn" style="display:none;">📲 Instalar App</button>
        <a href="/ventas">Ir a Ventas</a>
        <a href="/clientes">Ir a Clientes</a>
    </div>
<script>
let deferredPrompt;
const installBtn = document.getElementById("installBtn");

window.addEventListener("beforeinstallprompt", (e) => {
    e.preventDefault();
    deferredPrompt = e;

    // mostrar botón
    installBtn.style.display = "inline-block";
});

installBtn.addEventListener("click", async () => {
    installBtn.style.display = "none";

    deferredPrompt.prompt();

    const { outcome } = await deferredPrompt.userChoice;
    console.log("Resultado:", outcome);

    deferredPrompt = null;
});
</script>
</body>
</html>
